.profile-container {
   padding: 1.25em;
   background: rgba(0, 0, 0, 0.2);
   text-align: center;
   .name {
     font-size: 25px;
     font-weight: 900;
     margin-bottom: .2em;
   }
  .tagline {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  .profile {
    margin-bottom: 15px;
  }
 }