.education-container {
  .item{
    margin-left:-1em;
    padding-bottom:1em;
    .meta, .time, .degree{
      font-size: 14px;
    }
      .degree{
      margin-left:-.6em;
      font-weight: bolder;
    }
    .meta, .time{

    }
    .meta{

    }
    .time{

    }
  }
}